#citySelect{
  background: var(--card);
  color: var(--text) !important;
  border: 1px solid var(--border);
  outline: none;
  appearance: auto;
}

#citySelect option{
  background: #080B10;
  color: #F1EFE9;
}

body.day-mode #citySelect{
  background: #F5F0E8;
  color: #1E2A32 !important;
}

body.day-mode #citySelect option{
  background: #F5F0E8;
  color: #1E2A32;
}
